@media (max-width: 450px)
/* The navigation bar */
.navbar {
    overflow: visible;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  
/*avatar settings */
  .avatar {
    
    vertical-align: middle;
    width: 50px;
    height: 50;
    border-radius: 50%;
  }

  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  

 
  .row {
    margin: 8px-16px;
  }

  .row,
  .row>.column {
    padding: 8px
  }

  .column{
     margin: auto;
	 width: 50%;
	padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.header {
    padding: 60px;
    text-align: center;
    background: url("mountain-skyline.jpg");
    color: white;
    font-size: 30px;
    
}

p {
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large; 
  padding: 10px
}


h2 {
    text-align: left;
    color: blue;
    padding: 0px,30px, 30px, 30px;
}

h3 {
    color: #ddd;
    text-align: center;
  }

footer{
  text-align: center;
  color: black;
  padding: 20px, 20px,20px,20px,;
}

.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {}
